.navbar-list {
  display: flex;
  flex-direction: row-reverse;
}

.navbar-list > li {
  width: 25%;
  display: inline-block;
  list-style: none;
  font-size: x-large;
  text-align: center;
}

.navbar-logo {
  float: left;
  margin: 0;
}
