nav {
  height: 100vh;
}

body {
  margin: 0;
  background-image: url('../img/00000.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-list {
  display: flex;
  flex-direction: row-reverse;
}

.navbar-list > li {
  width: 25%;
  display: inline-block;
  list-style: none;
  font-size: x-large;
  text-align: center;
  font-family: cursive;
}

.navbar-list > li > a {
  color: antiquewhite;
}

.navbar-logo {
  float: left;
  margin: 0;
  color: antiquewhite;
  font-size: x-large;
  font-family: cursive;
}
